<!-- ****************************** HEADER-SHOW ****************************** -->
<div class="header-container mini-header d-flex justify-content-around align-items-center">
  <h1 style="">Bookings (<%= @bookings.count %>)</h1>
</div>
<!-- ************************************************************************* -->
<div class="container p-4 booking-height">
  <% if @bookings == [] %>
  <p>You don't have any bookings yet</p>
  <% else %>
  <% @bookings.each do |booking| %>
  <div class="card-product card-product-margin-content">
    <%= cl_image_tag booking.activity.photo, height: 300, width: 400, crop: :fill %>
      <div class="card-product-infos">
        <div class="d-flex align-items-center">
          <h2><%= booking.activity.name.upcase %></h2>
           <p class="ml-3" style="margin-bottom: 20px">
             <%= link_to "Contact buyer", new_booking_message_path(booking), class: 'btn btn-green mr-2' %>
            </p>
            <% if booking.status == "pending" %>
              <div class="d-flex">
                <p  style="margin-bottom: 20px"><%= link_to "Confirm", confirmed_seller_booking_path(booking), method: :patch, class: 'btn btn-confirm mr-2' %></p>
                <p  style="margin-bottom: 20px"> <%= link_to "Decline", decline_seller_booking_path(booking), method: :patch, class: 'btn btn-decline mr-2' %></p>

              </div>
            <% end %>
        </div>
        <div class="card-product-infos-details">
          <p><i class="fas fa-calendar-day"></i> <%= booking.date.strftime("%Y-%d-%m") %></p>
          <p><i class="fas fa-users"></i> <%= booking.participants_number %></p>
          <p><i class="far fa-credit-card"></i><%= booking.total_price %>€</p>
        </div>
    </div>
    <div class="card-product-status d-flex flex-column flex-grow-1">
      <p> <%= link_to "View activity", seller_activity_path(booking.activity), class: 'btn btn-green' %></p>
      <h2>
      <% if booking.status == "pending" %>
        <i class="fas fa-hourglass-half" style="color:#6c5ebf;"></i>
        <%= booking.status.capitalize %>

      <% elsif booking.status == "accepted" %>
      <div>
      <i class="fas fa-check" style="color:#5fbf9e; font-weight: bolder"></i>
      <%= booking.status.capitalize %>
      </div>
      <% else %>
      <div>
        <i class="far fa-times-circle" style="color:red; font-size: 1.2em; font-weight: 500"></i>
        <%= booking.status.capitalize %>
      </div>
      <% end %>
      </h2>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
