<!-- ****************************** HEADER-SHOW ****************************** -->
<div class="header-container mini-header d-flex justify-content-around align-items-center flex-column">
  <h1 style="">Bookings <span style="font-size: 0.5em; color : white">(<%= @bookings.count %>)</span></h1> 
<!-- ******************************** FILTERS ******************************** -->
<div>
  <% activity_name_array = [] %>
  <% @bookings.each do |booking| %> 
    <% activity_name_array << booking.activity.name %> 
  <% end %>
<% activity_name_array = activity_name_array.uniq %>

<p>Filter by :
  <% activity_name_array.each do |name| %>
    <%= link_to "##{name.capitalize}", bookings_path(:name=>name), class: 'btn btn-green mr-2' %>
  <% end %>

  <%= link_to "All Bookings", bookings_path, class: 'btn btn-green mr-2' %>
</p>

</div>
<!-- ***************************** END FILTERS ****************************************** -->
</div>
<!-- ***************************** END HEADER ******************************************** -->

<div class="container p-4 booking-height">

  <% @bookings.each do |booking| %>
<div class="card-product card-product-margin-content">
  <%= cl_image_tag booking.activity.photo, height: 300, width: 400, crop: :fill %>
  <div class="card-product-infos">
    <div class="d-flex align-items-center">
    <h2><%= booking.activity.name.upcase %></h2>
    <p class="ml-3" style="margin-bottom: 20px"><%= link_to "Contact owner", new_booking_message_path(booking), class: 'btn btn-green mr-3'%>

     <!--  <%= image_tag 'avatar.png', class: "avatar ", style: 'width: 5%;' %>
      <%= booking.activity.seller.first_name.capitalize %> -->
    </p>

  </div>


    <div class="card-product-infos-details">
    <p><i class="fas fa-calendar-day"></i> <%= booking.date.strftime("%Y-%d-%m") %></p>
    <p><i class="fas fa-users"></i> <%= booking.participants_number %></p>
    <p><i class="far fa-credit-card"></i><%= booking.total_price %>€</p>
    </div>
  </div>


  <div class="card-product-status d-flex flex-column flex-grow-1">
    <p> <%= link_to "View activity", activity_path(booking.activity), class: 'btn btn-green' %></p>
    <h2>
      <% if booking.status == "pending" %>
      <i class="fas fa-hourglass-half" style="color:#6c5ebf;"></i>
      <% elsif booking.status == "accepted" %>
        <i class="fas fa-check" style="color:#5fbf9e; font-weight: bolder"></i>
        <% else %>
        <i class="far fa-times-circle" style="color:red; font-size: 1.2em; font-weight: 500"></i>
      <% end %>
      <%= booking.status.capitalize %></h2>
  </div>
</div>
<% end %>
</div>
