<!-- <h1 class="text-center">Activities in <%# params[:location].nil? ? return params[:location].capitalize : "all" %></h1> -->

<!-- title of page  -->
<% if params[:location] != "" && !params[:location].nil? %>
  <h1 class="text-center"> Activities in <%= params[:location] %></h1>
<% elsif params[:location] == "" || params[:location].nil? %>
  <h1 class="text-center"> Your activities</h1>
<% end %>

<!-- search  -->
<div class="new-search d-flex justify-content-center ">
  <form id= "search-activity" action='activities' method='get' class='d-flex align-items-center'>
    <input id='search' name='location' type='text' placeholder='Ex: Parachute Marseille' class='font-italic' style="padding: 10px;width: 300px;margin: 20px;" />
    <input type='submit' class="btn btn-outline-success btn-lg rounded" value="New search" style="max-height:48px;">

  </form>
</div>
<!-- the map -->
<!-- <div class="index-activities-container d-flex justify-content-around ml-auto mr-auto"> -->

<div class="container d-flex justify-content-around mt-4" id="activity-map-container">
  <div
    id="map"
    style="width: 100%;
    height: 600px;
    margin: 0px 8px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

    <!-- Grid of activities  -->
  <div class="activities_list cards color_white text-center">
    <% @activities.each do |activity| %>
      <%= link_to seller_activity_path(activity) do%>
      <% if activity.photo.blank? %>
        <div class="card-category" style="background-image:
          url('images/Surf.jpg');
          box-shadow: 0 0 15px rgba(0,0,0,0.2);">
      <% else %>
        <div class="card-category" style="background-image:
          url('<%= cl_image_path activity.photo, height: 300, width: 400, crop: :fill%>');
          box-shadow: 0 0 15px rgba(0,0,0,0.2);">
      <% end %>
            <div class="activity-title d-flex justify-content-between align-items-center pl-3 pr-3" style="height: 60px;">
              <h6 style="min-width: 120px; "><%= activity.name %></h6>
              <span><%= activity.type_activity %></span>
            </div>
          <div class="card_bottom_info d-flex justify-content-between align-items-center">
            <p id="nb-people"><%= activity.max_participants %> place(s)</p>
            <p id="price"><%= activity.price %> €/pers</p>
          </div>
        </div>
      <%end%>
    <% end %>
  </div>
</div>
