<div class="header-container d-flex justify-content-center align-items-center">
  <div>
    <h1 class="text-center">Add activities</h1>
    <h2 class="text-center mb-4" style="font-size: 1.5em">Post your offer quickly below</h2>
  </div>
</div>
<div class="container-new-activity">
  <%= simple_form_for @activity, html: { class: ""}  do |f| %>
  <div class="col-md-12 d-flex justify-content-between align-items-center without-label">
    <%= f.input :name, :label => "Title", :placeholder => 'Activity name ...', input_html: { class: "no-margin" } %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>
  <div class="col-md-12 d-flex justify-content-between align-items-center without-label">
    <%= f.input :price, :placeholder => "Price...", input_html: { class: "no-margin" } %>
    <%= f.input :address, :placeholder => "Address ...", input_html: { class: "no-margin" } %>
    <%= f.input :type_activity, prompt: 'Activity type ...', collection: ["#Sport", "#Culture", "#Child_Friendly", "#Fun_And_Game", "#Nature", "#Beach_life", "#Eat_Drink", "#Extreme"] %>
  </div>

  <div class="col-md-12 d-flex justify-content-between align-items-center without-label">
     <%= f.input :max_participants, :placeholder => "Available places ...", input_html: { class: "no-margin" } %>
    <%= f.input :start_date, :placeholder => "Start date ...", as: :string, input_html: { id: "range_start" } %>
    <%= f.input :end_date, :placeholder => "End date ...", as: :string, input_html: {id: "range_end"} %>
  </div>
  <div class="col-md-12 d-flex justify-content-between align-items-center without-label">
   <%= f.input :description, :placeholder => "Describe your offer ...", input_html: { class: "descriptionStyling" } %>
  </div>
  <div class="pl-3">
  <%= f.button :submit, "CREATE NEW ACTIVITY", class: "btn btn-green p-3" %>
  </div>
  <% end %>
</div>
